@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

:root {
  --main-color: #0074e7;
  --secondary-color: #005fbe;
  --main-text: #002036;
  --text: #141d24;
  --white-text: #fff;
  --light-gray: #f6f9fa;
  --accent-color: #0080ff;
  --accent-bg: rgb(94, 174, 255);
  --box-shadow: rgba(0, 0, 0, 0.048) 0px 8px 24px;

  --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.text {
  color: var(--text) !important;
}

.text-light-gray {
  color: var(--light-gray) !important;
}

.bg-light-gray {
  background-color: var(--light-gray) !important;
}

.main-text {
  font-family: "Inter";
}

.bg-main {
  background-color: var(--main-text) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
li {
  color: var(--main-text);
}

h1,
h2,
h3 {

  font-family: "Inter" !important;
}

.bg-blue {
  background-color: var(--white-text) !important;
  border: 2px solid var(--main-color);
  color: var(--main-color) !important;
  transition: all .3s linear;
  font-family: "Inter" !important;

  &:hover {
    background-color: var(--accent-color) !important;
    color: var(--white-text) !important;
    border-color: var(--white-text) !important;
  }
}

.btn {
  background-image: linear-gradient(to right, var(--main-color), var(--accent-bg));

  &:hover {
    background-image: linear-gradient(to left, var(--accent-bg), var(--main-color));
  }
}

.btn-bordered {
  background-color: var(--white-text) !important;
  border: 1px solid var(--main-color) !important;
  color: var(--main-color) !important;
  box-shadow: none !important;

  &:hover {
    background-color: var(--main-color) !important;
    color: var(--white-text) !important;
    transform: none !important;
  }
}


@media (min-width: 640px) {
  .transactions {
    grid-template-columns: 1fr minmax(0, 2fr);
  }

  .transfers {
    grid-template-columns: 1.5fr minmax(0, 1fr) !important;
  }
}


.rotated {
  position: absolute;
  width: fit-content;
  height: fit-content;
  left: -50px;
  bottom: -93px;
  transform: rotateZ(90deg);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem
    /* 12px */
  ;
  line-height: 1rem
    /* 16px */
  ;

  &:after {
    position: absolute;
    bottom: 8.5px;
    right: -80px;
    height: 1px;
    width: 70px;
    content: '';
    z-index: 5;
    background-color: var(--main-text);
  }
}

.shadowed {
  ::after {
    width: 350px;
    height: 350px;
    background-color: #e7f1fd6b;
    content: "";
    border-radius: 10px;
    left: -60%;
    transform: translateX(-50%), translateY(-50%);
    top: -10%;
    z-index: -1;
    position: absolute;
  }
}

.login-aside {
  background-image: url('/nft.jpg');
  background-size: cover;
  background-position: center;

  .overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
  }
}

.dashboard-link-active {
  color: var(--white-text);
  background-image: linear-gradient(to right, var(--main-color), var(--accent-bg));

  &:hover {
    color: var(--white-text) !important;
  }
}


.dropdown-content {
  width: max-content;
  top: calc(100% + 5px);
  box-shadow: var(--box-shadow);
  transform-origin: top center;
  transform: scale(0);
  transition: transform .3s ease 0s;
}

.dropdown-content.active {
  transform: scale(1);
  transition: transform .5s var(--transition-cubic);
}

.status-card {
  transition: color .5s ease 0s;

  &:hover {
    color: var(--white-text);
  }

  &:before {
    content: "";
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-image: linear-gradient(to right, var(--main-color), var(--accent-bg));
    position: absolute;
    left: -50%;
    top: 0;
    transform: scale(0);
    transition: transform 1s ease 0s;
  }

  &:after {
    content: "";
    height: 5px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    bottom: 0;
    z-index: 1;
    background-color: #f3f3f3;
    transition: transform 2s ease 0s;

  }
}

.status-card:hover:before {
  transform: scale(3);
}

.status-card:hover:after {
  background-color: var(--secondary-color);
}

th,
td {
  text-transform: capitalize;
  padding: 15px 10px;

  a {
    color: var(--accent-bg);
    text-decoration: underline;
  }
}

.pagination-item.active {
  background-color: var(--accent-bg);
  color: var(--white-text);
}

.menu-responsive {
  transform: translateX(-50%);
  width: 0 !important;
  transition: transform .3s ease 0s;
  opacity: 0;
}

.menu-responsive.active {
  transform: translateX(0%);
  width: 270px !important;
  transition: transform .5s width .5s;
  animation: linear show .345s;
  display: block !important;
  padding: 2em;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: .75;
  }

  100% {
    opacity: 1;
  }
}

input:focus {
  outline: none !important;
}

.coin-name {
  &:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-text);
    width: 60px;
    height: 1.5px;
  }
}

.news-list {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 500px;
  gap: 0.45em;
}

@media screen and (max-width:651px) {
  .news-list {
    grid-template-columns: 1fr;

    .news-item {
      grid-column: 1 / 2;
    }
  }
}

.nft-list {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 480px;
  gap: 0.45em;
}

@media screen and (max-width:651px) {
  .nft-list {
    grid-template-columns: 1fr;

    .nft-item {
      grid-column: 1 / 2;
    }
  }
}

.loading {
  min-height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);

  .spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    margin: 5px 2px 0 2px;
    border-radius: 50%;
    background-color: transparent;
    border-top-color: #fff;
    animation: spin 0.8s linear infinite;
    -webkit-animation: spin 0.8s linear infinite;
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}